<html>
    <head>
        <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="w-screen h-screen bg-blue-200">
        <div class="flex w-full justify-center">
            <div id="app" class="w-full lg:w-2/3 px-2 py-2">
                <div class="flex flex-row">
                    <button class="w-1/12 me-1 rounded py-12 bg-blue-300 text-blue-100 text-2xl" @click="reset">R</button>
                    <button
                        :class="['w-1/12 me-1 rounded py-12 text-2xl', enableAutoBeat ? 'text-blue-200 bg-blue-600' : 'text-blue-300']"
                        @click="enableAutoBeat = !enableAutoBeat">A</button>
                    <button class="w-2/3 me-1 rounded py-12 bg-blue-300 text-blue-100 text-2xl" @click="addBeat">Click</button>
                    <div class="w-1/4 rounded py-12 bg-blue-300 text-blue-100 text-2xl text-center" @touchstart.stop="addBeat">Slide</div>
                </div>
    
                <!-- <p>Beat: {{ null === beatCounter ? '—' : (beatCounter + 1) }}</p> -->
                <p class="text-center text-blue-500 text-lg mt-10">Beats</p>
                <table class="w-full my-4">
                    <tr>
                        <td
                            v-for="(n, i) in 8"
                            :key="`beat-${i}`"
                            :class="['text-center text-blue-300 p-4', i === beatCounter ? 'bg-blue-500' : 'bg-blue-100']">
                            {{ i + 1 }}
                        </td>
                    </tr>
                </table>

                <!-- <p>Eight: {{ null === eightCounter ? '—' : eightCounter + 1 }}</p> -->
                <p class="text-center text-blue-500 text-lg mt-10">Eight counts</p>
                <table class="w-full my-4">
                    <tr>
                        <td
                            v-for="(n, i) in 4"
                            :key="`eight-${i}`"
                            :class="['text-center text-blue-300 p-4', i === eightCounter ? 'bg-blue-500' : 'bg-blue-100']">
                            {{ i + 1 }}
                        </td>
                    </tr>
                </table>

                <!-- <p>Phrase: {{ null === phraseCounter ? '—' : phraseCounter + 1 }}</p> -->
                <p
                    class="text-center text-blue-500 text-lg mt-10"
                    @click="phraseType = (phraseType + 1) % phrases.length">
                    Phrases
                </p>
                <table class="w-full my-4">
                    <tr>
                        <td
                            v-for="(phrase, i) in phrases[phraseType]"
                            :key="`phrase-${i}`"
                            :class="['text-center text-blue-300 p-4', i === phraseCounter ? 'bg-blue-500' : 'bg-blue-100']">
                            {{ phrase }}
                        </td>
                    </tr>
                </table>

                <p class="text-center text-blue-500 text-lg mt-10">BPM</p>
                <p :class="['text-center text-4xl my-4', autoBeat ? 'text-blue-100' : 'text-blue-500']">
                    {{ null === spb ? '—' : (60 * 1000 / (spb + spbDelay)).toFixed(0) }}
                </p>
                <div class="flex flex-full flex-row">
                    <!-- <div class="w-1/12">
                        <button v-if="autoBeat" class="w-1/12" onclick="() => spbDelay += 0.5">-.5</button>
                    </div>
                    <div class="w-5/6"> -->
                        <div
                            v-if="enableAutoBeat && !autoBeat"
                            class="w-full bg-blue-100 rounded-full h-0.5 dark:bg-gray-200">
                                <div class="bg-blue-300 h-0.5 rounded-full" :style="{ width: `${(100 * beatSpaces.length / beatSpacesMax).toFixed(2)}%` }"></div>
                        </div>
                    <!-- </div>
                    <div class="w-1/12">
                        <button v-if="autoBeat" class="w-1/12" onclick="() => spbDelay -= 0.5">+.5</button>
                    </div> -->
                </div>
            </div>
        </div>
        <script>
            const { createApp, computed, ref } = Vue;
            
            const App = {
                data() {
                    return {
                        autoBeatInterval: null,
                        lastBeat: null,
                        beatSpaces: [],
                        beatCounter: null,
                        eightCounter: null,
                        phraseCounter: null,
                        enableAutoBeat: false,
                        phraseType: 0,
                        spbDelay: 0,
                        
                        // Params.
                        beatSpacesMax: 15,
                        phrases: [
                            ['A', 'A', 'B', 'A'],
                            ['A', 'B', 'A', 'C'],
                        ],
                    }
                },
                computed: {
                    phraseName() {
                        return null === this.phrasePointer ? null :this. phrases[this.phrasePointer];
                    },
                    spb() {
                        return 0 === this.beatSpaces.length ? null : this.beatSpaces.reduce((acc, curr) => acc + curr, 0) / this.beatSpaces.length;
                    },
                    autoBeat() {
                        return this.enableAutoBeat && this.beatSpacesMax <= this.beatSpaces.length;
                    },
                },
                methods: {
                    reset() {
                        this.lastBeat = null;
                        this.beatSpaces = [];
                        this.beatCounter = null;
                        this.eightCounter = null;
                        this.phraseCounter = null;
                        this.enableAutoBeat = false;
                        this.spbDelay = 0;

                        if (null !== this.autoBeatInterval) {
                            clearInterval(this.autoBeatInterval)
                        }
                    },
                    addBeat() {
                        if (this.autoBeat) return;

                        const now = Date.now();

                        if (null !== this.lastBeat) {
                            this.beatSpaces.push(now - this.lastBeat);
                            if (this.beatSpacesMax < this.beatSpaces.length) {
                                this.beatSpaces = this.beatSpaces.slice(-1 * this.beatSpacesMax);
                            }
                        }
                        
                        this.lastBeat = now;

                        if (this.autoBeat) {
                            this.autoBeatInterval = setInterval(this.countBeat, this.spb + this.spbDelay);
                        }

                        this.countBeat();
                    },
                    countBeat() {
                        this.beatCounter = null === this.beatCounter ? 0 : (this.beatCounter + 1) % 8;

                        if (0 === this.beatCounter) {
                            this.eightCounter = null === this.eightCounter ? 0 : (this.eightCounter + 1) % 4;

                            if (null === this.phraseCounter) {
                                this.phraseCounter = 0;
                            } else if (0 === this.eightCounter) {
                                this.phraseCounter = (this.phraseCounter + 1) % this.phrases[this.phraseType].length;
                            }
                        }
                    }
                }
            }
        
            const app = createApp(App)
            app.mount("#app");
        </script>
    </body>
</html>
